---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=c1760c2a5cbeb02fa5d4fb5be3207f7d&lat=38.897699700000004&lon=-77.03655315&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1704747600,"main":{"temp":47.79,"feels_like":47.79,"temp_min":45.41,"temp_max":47.79,"pressure":1028,"sea_level":1028,"grnd_level":1029,"humidity":51,"temp_kf":1.32},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"clouds":{"all":40},"wind":{"speed":1.66,"deg":330,"gust":1.19},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2024-01-08
        21:00:00"},{"dt":1704758400,"main":{"temp":45.1,"feels_like":43.43,"temp_min":39.72,"temp_max":45.1,"pressure":1029,"sea_level":1029,"grnd_level":1030,"humidity":56,"temp_kf":2.99},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"clouds":{"all":31},"wind":{"speed":3.74,"deg":109,"gust":6.42},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-01-09
        00:00:00"},{"dt":1704769200,"main":{"temp":40.86,"feels_like":37.92,[...]
