---
http_interactions:
- request:
    method: get
    uri: https://nominatim.openstreetmap.org/search?accept-language=en&addressdetails=1&format=json&q=MyText
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 08 Jan 2024 19:30:12 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=c1760c2a5cbeb02fa5d4fb5be3207f7d&lat=1.5&lon=1.5&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":1.5,"lat":1.5},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"base":"stations","main":{"temp":82.09,"feels_like":88.27,"temp_min":82.09,"temp_max":82.09,"pressure":1011,"humidity":77,"sea_level":1011,"grnd_level":1011},"visibility":10000,"wind":{"speed":10.94,"deg":178,"gust":10.74},"clouds":{"all":11},"dt":1704741677,"sys":{"sunrise":1704693545,"sunset":1704736880},"timezone":0,"id":0,"name":"","cod":200}'
  recorded_at: Mon, 08 Jan 2024 19:30:13 GMT
recorded_with: VCR 6.2.0
