---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=c1760c2a5cbeb02fa5d4fb5be3207f7d&lat=1.5&lon=1.5&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1704747600,"main":{"temp":81.9,"feels_like":88.05,"temp_min":81.9,"temp_max":81.9,"pressure":1013,"sea_level":1013,"grnd_level":1013,"humidity":78,"temp_kf":0},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"clouds":{"all":15},"wind":{"speed":11.01,"deg":179,"gust":10.29},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-01-08
        21:00:00"},{"dt":1704758400,"main":{"temp":81.64,"feels_like":87.71,"temp_min":81.16,"temp_max":81.64,"pressure":1013,"sea_level":1013,"grnd_level":1012,"humidity":79,"temp_kf":0.27},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"clouds":{"all":17},"wind":{"speed":10.18,"deg":183,"gust":10.29},"visibility":10000,"pop":0.2,"rain":{"3h":0.19},"sys":{"pod":"n"},"dt_txt":"2024-01-09
        00:00:00"},{"dt":1704769200,"main":{"temp":81.46,"feels_like":87.08,"temp_min":81.25,"temp_max":81.46,"pressure":1011,"sea_level":1011,"grnd_level":1010,"humidity":78,"temp_kf":0.12},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"clouds":{"all":11},"wind":{"speed":8.77,"deg":187,"gust":8.97},"visibility":10000,"pop":0.36,"rain":{"3h":0.38},"sys":{"pod":"n"},"dt_txt":"2024-01-09
        03:00:00"},{"[...]
