---
http_interactions:
- request:
    method: get
    uri: https://nominatim.openstreetmap.org/search?accept-language=en&addressdetails=1&format=json&q=MyText
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 08 Jan 2024 19:32:26 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=c1760c2a5cbeb02fa5d4fb5be3207f7d&lat=1.5&lon=1.5&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":1.5,"lat":1.5},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":82.04,"feels_like":88.14,"temp_min":82.04,"temp_max":82.04,"pressure":1012,"humidity":77,"sea_level":1012,"grnd_level":1012},"visibility":10000,"wind":{"speed":10.45,"deg":181,"gust":10.29},"clouds":{"all":9},"dt":1704742346,"sys":{"sunrise":1704693545,"sunset":1704736880},"timezone":0,"id":0,"name":"","cod":200}'
  recorded_at: Mon, 08 Jan 2024 19:32:27 GMT
recorded_with: VCR 6.2.0
